body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    overflow-x: hidden;
}

p {
    line-height: 1.7;
}

.container-fluid {
    width: 1310px;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-black-transparent {
    background-color: rgba(15, 29, 32, 0.76);
    color: white;
}

.small, small {
    font-size: 90%;
}

.btn {
    border-radius: 0;
    padding: 13px 40px;
    font-size: 1.3rem;
}

.btn-tertiary {
    background-color: #006868;
    color: #fff;
    padding: 10px 60px;
}

.btn-tertiary:hover {
    background-color: #099f9f;
    color: #fff;
}

.btn-secondary {
    background-color: #0299CC;
    border: none;
    padding: 10px 50px;
}

.btn-secondary:hover {
    background-color: #0fb7f0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #495057;
    outline: none;
    border: none;
}

#app {
    min-height: 1100px;
}

.row-brand {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 28px;
}

.brand-container {
    max-width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 79px;
    height: 77px;
    border-radius: 50%;
    margin-right: 25px;
}

.brand-name {
    font-size: 2.3rem;
    color: #333333;
}

.navbar {
    width: 840px;
    height: 120px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar .navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link-highlight {
    width: 16px;
    height: 16px;
    background-color: #666768;
    position: absolute;
    top: -8px;
    left: calc(50% - 8px);
}

.nav-item {
    position: relative;
}

.nav-item .nav-link-highlight {
    visibility: hidden;
}

.nav-item:hover .nav-link-highlight, .nav-item.active .nav-link-highlight {
    visibility: visible;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #666768;
}

.nav-item .nav-link {
    border-top: 1px solid transparent;
    font-size: 1.2rem;
}

.nav-item.active .nav-link, .nav-item:hover .nav-link {
    color: #006868 !important;
    border-top-color: #006868;
}

.nav-item:hover .nav-link-highlight, .nav-item.active .nav-link-highlight {
    background-color: #006868 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 19px;
}